
body{
    background-color: rgb(119, 119, 119);
    padding-top: 20px;
}
:root {
    --background-color: rgb(119, 119, 119);
    --orange: rgb(252, 116, 5);
    --dark-gray: rgb(31, 31, 31);
    --blue: hsl(225, 100%, 50%);
}
/* Styling for the entire calculator container */
.calculator {
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px white, 0px 0px 4px 2px white;
    margin-inline-start: auto;
    margin-inline-end: auto;
    margin-block-start: 2em;
    max-inline-size: 28rem;
    overflow: hidden;
    color: white;
    padding: 30px;
    padding-right: 55px;
}
/* Styling for the calculator output display */
.calculator__output {
    background: rgb(119, 119, 119);
    height: 80px;
    color: white;
    font-size: 4.2rem;
    padding-block-start: 3rem;
    padding-block-end: 0.5rem;
    padding-inline-end: 1.25rem;
    text-align: end;
    font-family: monospace;
}
/* Styling for the calculator keys container */
.calculator__keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
    background: rgb(119, 119, 119);
    padding: 0.5rem;
}
/* Styling for individual calculator keys */
.calculator__key {
    background: rgb(31, 31, 31);
    border: none;
    padding-block-start: 1rem;
    padding-block-end: 1rem;
    padding-inline-end: 1.25rem;
    padding-inline-start: 1.25rem;
    color: white;
    font-size: 2rem;
    /* Playful Styles */
    inline-size: 100px;
    block-size: 70px;
    margin: 0.25rem;
    border-radius: 40px;
    transition: all 0.3s;
    padding: 20px;
}
.calculator__key:hover{
    background: transparent;
    border: 2px solid var(--dark-gray);
    cursor: pointer;
}
.calculator__keyClear {
    background: var(--orange);
    border: none;
    padding-block-start: 1rem;
    padding-block-end: 1rem;
    padding-inline-end: 1.25rem;
    padding-inline-start: 1.25rem;
    color: white;
    font-size: 1.5rem;
    /* Playful Styles */
    inline-size: 100px;
    block-size: 70px;
    margin: 0.25rem;
    border-radius: 40px;
    transition: all 0.3s;
}
.calculator__keyClear:hover{
    background: transparent;
    border: 2px solid var(--orange);
    cursor: pointer;
}
/* Styling for active and focused calculator keys */
.calculator__key:active,
.calculator__key:focus {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3) inset;
    outline: none;
}
/* Styling for operator keys */
.calculator__key--operator {
    background: var(--orange);
}
.calculator__key--operator:hover{
    background: transparent;
    border: 2px solid var(--orange);
    cursor: pointer;
}
/* Styling for active operator keys */
.calculator__key--operator:active {
    background: var(--orange);
}
/* Styling for the "Enter" key */
.calculator__key--enter {
    grid-column: 4 / 5;
    grid-row: 2 / span 4;
    background: var(--blue);
    color: white;
    height: auto;
}
.calculator__key--enter:hover{
    color: hsl(0, 0%, 100%);
    background-color: transparent;
    border: 2px solid var(--blue) ;
    cursor: pointer;
}